In [1]:
import pandas as pd

In [2]:
# Load the CSV file, skipping the first 2 rows which are metadata
df_birthing = pd.read_csv(
    r"C:\Users\CEL\Desktop\Quantitative Analysis\iKMC\Birthing form_17th Sep 24 - 18th Jun 25.csv", skiprows=2)

In [3]:
df_birthing

,recordid,brth_hospid,brth_dof,brth_tof,brth_research_id,country_id,site_id,brth_facility_id,brth_facility_sp,brth_mname,...,brth_tob_1,brth_plcbrth_1,brth_bsex_1,brth_weight_1,brth_mdbrth_1,brth_otcome_1,brth_outcome_dt_1,brth_outcome_tm_1,brth_rfrl_1,brth_rfrl_flby_1
0,B121500022,2101,2024-10-02,17:27:00,1215,11,112,0,CHC Loni,Priya Devi,...,22:03:00,12,11,2705,11.0,11.0,NaN,NaN,NaN,NaN
1,B121500025,2104,2024-10-02,17:37:00,1215,11,112,0,CHC Loni,Sajiya,...,01:14:00,12,11,2661,11.0,11.0,NaN,NaN,NaN,NaN
2,B121500015,2094,2024-10-02,17:07:00,1215,11,112,0,CHC Loni,Mariyam,...,23:15:00,12,11,2529,11.0,11.0,NaN,NaN,NaN,NaN
3,B121500016,2095,2024-10-02,17:09:00,1215,11,112,0,CHC Loni,Neha,...,04:15:00,12,12,2336,11.0,11.0,NaN,NaN,NaN,NaN
4,B121500024,2103,2024-10-02,17:34:00,1215,11,112,0,CHC Loni,Kanchan,...,22:37:00,12,11,3119,11.0,11.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,B121604925,UP06781204,2025-06-18,10:05:00,1216,11,112,120005,NaN,Rihana,...,13:52:00,12,12,2120,14.0,11.0,2025-03-06,16:00:00,NaN,NaN
5412,B121604935,UP06799356,2025-06-18,10:42:00,1216,11,112,120005,NaN,Rusi,...,15:40:00,12,12,2266,14.0,11.0,2025-03-09,14:00:00,NaN,NaN
5413,B121604958,UP06827135,2025-06-18,17:09:00,1216,11,112,120005,NaN,Pooja,...,08:12:00,12,11,2712,11.0,11.0,2025-03-12,17:00:00,NaN,NaN
5414,B121604927,UP06789611,2025-06-18,10:10:00,1216,11,112,120005,NaN,Najreen,...,19:58:00,12,12,3818,11.0,11.0,2025-03-05,14:00:00,NaN,NaN
5415,B121604930,UP06790261,2025-06-18,10:24:00,1216,11,112,120005,NaN,Saniya,...,05:24:00,12,11,3150,11.0,11.0,2025-03-06,14:00:00,NaN,NaN

In [4]:
# Display basic information about the DataFrame
print("DataFrame Info:")
df_birthing.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5416 entries, 0 to 5415
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   recordid           5416 non-null   object
 1   brth_hospid        5304 non-null   object
 2   brth_dof           5416 non-null   object
 3   brth_tof           5416 non-null   object
 4   brth_research_id   5416 non-null   int64
 5   country_id         5416 non-null   int64
 6   site_id            5416 non-null   int64
 7   brth_facility_id   5416 non-null   int64
 8   brth_facility_sp   2640 non-null   object
 9   brth_mname         5416 non-null   object
 10  brth_fname         5416 non-null   object
 11  brth_mage          5416 non-null   int64
 12  brth_ga            5416 non-null   int64
 13  brth_sngl_mltpl    5415 non-null   float64
 14  brth_order         2 non-null      float64
 15  brth_dob_1         5412 non-null   object
 16  brth_tob_1         5413 non-null   object
 17  brth_plcbrth_1     5416 non-null   int64
 18  brth_bsex_1        5416 non-null   int64
 19  brth_weight_1      5416 non-null   int64
 20  brth_mdbrth_1      5411 non-null   float64
 21  brth_otcome_1      3469 non-null   float64
 22  brth_outcome_dt_1  3176 non-null   object
 23  brth_outcome_tm_1  2911 non-null   object
 24  brth_rfrl_1        2030 non-null   float64
 25  brth_rfrl_flby_1   12 non-null     object
dtypes: float64(5), int64(9), object(12)
memory usage: 1.1+ MB

In [5]:
# Display the first few rows of the DataFrame
print("\nFirst 5 rows of the DataFrame:")
print(df_birthing.head())

First 5 rows of the DataFrame:
     recordid brth_hospid    brth_dof  brth_tof  brth_research_id  country_id  \
0  B121500022        2101  2024-10-02  17:27:00              1215          11
1  B121500025        2104  2024-10-02  17:37:00              1215          11
2  B121500015        2094  2024-10-02  17:07:00              1215          11
3  B121500016        2095  2024-10-02  17:09:00              1215          11
4  B121500024        2103  2024-10-02  17:34:00              1215          11

   site_id  brth_facility_id brth_facility_sp   brth_mname  ... brth_tob_1  \
0      112                 0        CHC Loni   Priya Devi   ...   22:03:00
1      112                 0        CHC Loni       Sajiya   ...   01:14:00
2      112                 0        CHC Loni      Mariyam   ...   23:15:00
3      112                 0        CHC Loni         Neha   ...   04:15:00
4      112                 0        CHC Loni      Kanchan   ...   22:37:00

   brth_plcbrth_1  brth_bsex_1  brth_weight_1  brth_mdbrth_1 brth_otcome_1  \
0              12           11           2705           11.0          11.0
1              12           11           2661           11.0          11.0
2              12           11           2529           11.0          11.0
3              12           12           2336           11.0          11.0
4              12           11           3119           11.0          11.0

  brth_outcome_dt_1  brth_outcome_tm_1  brth_rfrl_1  brth_rfrl_flby_1
0               NaN                NaN          NaN               NaN
1               NaN                NaN          NaN               NaN
2               NaN                NaN          NaN               NaN
3               NaN                NaN          NaN               NaN
4               NaN                NaN          NaN               NaN

[5 rows x 26 columns]

In [6]:
# Calculate descriptive statistics for numerical columns
print("\nDescriptive Statistics for Numerical Columns:")
print(df_birthing.describe())

Descriptive Statistics for Numerical Columns:
       brth_research_id  country_id  site_id  brth_facility_id   brth_mage  \
count       5416.000000      5416.0   5416.0       5416.000000  5416.00000
mean        1216.163220        11.0    112.0      61530.694239    26.17356
std            1.746952         0.0      0.0      59987.901254     4.90826
min         1214.000000        11.0    112.0          0.000000    14.00000
25%         1216.000000        11.0    112.0          0.000000    23.00000
50%         1216.000000        11.0    112.0     120002.000000    26.00000
75%         1216.000000        11.0    112.0     120003.000000    29.00000
max         1231.000000        11.0    112.0     120013.000000    99.00000

           brth_ga  brth_sngl_mltpl  brth_order  brth_plcbrth_1  brth_bsex_1  \
count  5416.000000      5415.000000    2.000000     5416.000000  5416.000000
mean     44.481905        11.023638    1.500000       11.991507    11.482829
std      18.674676         0.643942    0.707107        0.110074     0.519678
min      19.000000        11.000000    1.000000       11.000000     1.000000
25%      38.000000        11.000000    1.250000       12.000000    11.000000
50%      38.000000        11.000000    1.500000       12.000000    11.000000
75%      40.000000        11.000000    1.750000       12.000000    12.000000
max      99.000000        40.000000    2.000000       13.000000    12.000000

       brth_weight_1  brth_mdbrth_1  brth_otcome_1  brth_rfrl_1
count    5416.000000    5411.000000    3469.000000  2030.000000
mean     2979.584010      11.303086      11.085904    11.986207
std      1056.425744       0.903366       0.453234     0.116660
min       880.000000      11.000000      11.000000    11.000000
25%      2567.000000      11.000000      11.000000    12.000000
50%      2850.000000      11.000000      11.000000    12.000000
75%      3140.250000      11.000000      11.000000    12.000000
max      9999.000000      14.000000      15.000000    12.000000

In [7]:
# Check for missing values and their percentages
print("\nMissing Values and their Percentages:")
missing_values = df_birthing.isnull().sum()
missing_percentage = (df_birthing.isnull().sum() / len(df_birthing)) * 100
missing_df = pd.DataFrame({'Missing Count': missing_values, 'Missing Percentage': missing_percentage})
print(missing_df[missing_df['Missing Count'] > 0].sort_values(by='Missing Percentage', ascending=False).to_markdown(numalign="left", stralign="left"))

Missing Values and their Percentages:
|                   | Missing Count   | Missing Percentage   |
|:------------------|:----------------|:---------------------|
| brth_order        | 5414            | 99.9631              |
| brth_rfrl_flby_1  | 5404            | 99.7784              |
| brth_rfrl_1       | 3386            | 62.5185              |
| brth_facility_sp  | 2776            | 51.2555              |
| brth_outcome_tm_1 | 2505            | 46.2518              |
| brth_outcome_dt_1 | 2240            | 41.3589              |
| brth_otcome_1     | 1947            | 35.949               |
| brth_hospid       | 112             | 2.06795              |
| brth_mdbrth_1     | 5               | 0.0923191            |
| brth_dob_1        | 4               | 0.0738552            |
| brth_tob_1        | 3               | 0.0553914            |
| brth_sngl_mltpl   | 1               | 0.0184638            |

In [8]:
# Analyze unique values and their counts for selected categorical/identifier columns
print("\nUnique Values and Counts for selected columns:")
# Map the integer codes to meaningful labels or coded values, if available.
for col in ['brth_facility_sp', 'brth_bsex_1', 'brth_mdbrth_1', 'brth_plcbrth_1', 'brth_otcome_1', 'brth_rfrl_1']:
    if col in df_birthing.columns:
        print(f"\n--- {col} ---")
        print(df_birthing[col].value_counts().to_markdown(numalign="left", stralign="left"))

Unique Values and Counts for selected columns:

--- brth_facility_sp ---
| brth_facility_sp                           | count   |
|:-------------------------------------------|:--------|
| CHC Loni                                   | 1893    |
| PHC Bhojpur                                | 276     |
| CHC Loni                                   | 163     |
| Jeevan Jyoti Hospital                      | 107     |
| 50 bedded combined hospital Loni ghaziabad | 67      |
| 50 Beded Combined Hospital Loni Ghaziabad  | 45      |
| CHC Bamheta                                | 21      |
| CHC loni                                   | 17      |
| CHC Bamehta                                | 14      |
| PHC Bhojpur Ghaziabad                      | 6       |
| Poddar Nursing Hospital                    | 5       |
| CHC LOni                                   | 4       |
| 50 Beded Combined Hospital Loni            | 2       |
| 50 bedded combined hospital Loni ghaziabad | 2       |
| 50 bedded combined hospital Loni ghaziabad | 2       |
| CHC LOni                                   | 2       |
| 50 Beded Combined Hospital Loni Ghaziabad  | 1       |
| Najreen                                    | 1       |
| CHC Lonio                                  | 1       |
| CHC Lon                                    | 1       |
| 38671                                      | 1       |
| Chc Loni                                   | 1       |
| 9616684845                                 | 1       |
| 36639                                      | 1       |
| CH LOni                                    | 1       |
| CHC Lonii                                  | 1       |
| 49535                                      | 1       |
| Astha hospital                             | 1       |
| NO                                         | 1       |
| normal                                     | 1       |

--- brth_bsex_1 ---
| brth_bsex_1   | count   |
|:--------------|:--------|
| 11            | 2790    |
| 12            | 2625    |
| 1             | 1       |

--- brth_mdbrth_1 ---
| brth_mdbrth_1   | count   |
|:----------------|:--------|
| 11              | 4862    |
| 14              | 545     |
| 12              | 3       |
| 13              | 1       |

--- brth_plcbrth_1 ---
| brth_plcbrth_1   | count   |
|:-----------------|:--------|
| 12               | 5350    |
| 11               | 56      |
| 13               | 10      |

--- brth_otcome_1 ---
| brth_otcome_1   | count   |
|:----------------|:--------|
| 11              | 3314    |
| 12              | 85      |
| 14              | 65      |
| 15              | 4       |
| 13              | 1       |

--- brth_rfrl_1 ---
| brth_rfrl_1   | count   |
|:--------------|:--------|
| 12            | 2002    |
| 11            | 28      |